@import url(./setting.css);
a {
  text-decoration: none;
  color: var(--primary-dark);
}

button {
  outline: none;
  border: none;
}

header {
  height: 84px;
  background: #fff;
  border-bottom: 1px solid var(--primary-light);
}
@media (min-width: 992px) {
  header {
    height: 100px;
  }
}
header .header-wrap {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 992px) {
  header .header-wrap {
    max-width: 940px;
  }
}
header .header-wrap .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 992px) {
  header .header-wrap .header-logo img.header-logo-icon {
    height: 40px;
    margin-right: 8px;
  }
}
header .header-wrap .header-logo img.header-logo-logotype {
  height: 18px;
}
@media (min-width: 992px) {
  header .header-wrap .header-logo img.header-logo-logotype {
    height: 27px;
  }
}
header .header-wrap .hide {
  width: 0;
  height: 0;
  font-size: 0;
}
header .header-wrap .header-nav-list {
  gap: 60px;
  font-weight: 600;
}
header .header-nav-list-mobile {
  position: absolute;
  top: 84px;
  height: auto;
  background-color: var(--primary-middle);
}
header .header-nav-list-mobile li {
  background-color: #fff;
  border-bottom: 2px solid var(--primary-light);
  padding: 16px 0;
  text-align: center;
}
header .header-nav-list-mobile li:last-child {
  border-bottom: none;
}
header .header-nav-list-mobile li:active {
  background-color: var(--primary-light);
}

footer {
  background-color: var(--primary-light);
}
footer .footer-subscribe-edm {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 30px 0;
}
footer .footer-subscribe-edm .footer-edm-form {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
}
@media (min-width: 992px) {
  footer .footer-subscribe-edm .footer-edm-form {
    max-width: 780px;
  }
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-label {
  margin-bottom: 30px;
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-label img {
  height: 40px;
  margin-right: 20px;
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-input {
  background-color: var(--primary-light);
  padding-left: 64px;
  margin-right: -64px;
  outline: none;
  height: 56px;
  display: none;
}
@media (min-width: 992px) {
  footer .footer-subscribe-edm .footer-edm-form .footer-edm-input {
    width: 380px;
  }
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-input-icon {
  color: var(--primary-dark);
  margin-right: -20px;
  z-index: 1;
  bottom: 50%;
  left: 20px;
  transform: translate(0, 50%);
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-btn {
  outline: none;
  height: 56px;
  width: 64px;
}
footer .footer-info {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 30px;
}
@media (min-width: 992px) {
  footer .footer-info {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  footer .footer-info {
    padding-top: 30px;
  }
}
footer .footer-info .footer-info-connect-logo {
  width: 171px;
  margin-bottom: 40px;
}
footer .footer-info .footer-info-connect-content {
  margin-bottom: 37px;
}
@media (min-width: 992px) {
  footer .footer-info .footer-info-connect-content {
    margin-bottom: 30px;
  }
}
footer .footer-info .footer-info-connect-media img {
  width: 32px;
  height: 32px;
}
footer .footer-info .footer-info-slogan img {
  width: 60px;
}/*# sourceMappingURL=header-footer.css.map */