@import url(./setting.css);
a {
  text-decoration: none;
  color: var(--primary-dark);
}
button {
  outline: none;
  border: none;
}

header {
  box-shadow: 0 0px 4px 1px var(--bs-gray-100);
  height: 84px;
}
@media (min-width: 992px) {
  header {
    height: 100px;
  }
}
header .header-wrap {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 992px) {
  header .header-wrap {
    max-width: 940px;
  }
}
header .header-wrap .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 992px) {
  header .header-wrap .header-logo img.header-logo-icon {
    height: 40px;
    margin-right: 8px;
  }
}
header .header-wrap .header-logo img.header-logo-logotype {
  height: 18px;
}
@media (min-width: 992px) {
  header .header-wrap .header-logo img.header-logo-logotype {
    height: 27px;
  }
}
header .header-wrap .header-logo h1 {
  width: 0;
  height: 0;
}
header .header-wrap .header-nav-list {
  gap: 60px;
  font-weight: 600;
}

footer {
  background-color: var(--primary-light);
}
footer .footer-subscribe-edm {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 30px 0;
}
footer .footer-subscribe-edm .footer-edm-form {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
}
@media (min-width: 992px) {
  footer .footer-subscribe-edm .footer-edm-form {
    max-width: 780px;
  }
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-label {
  margin-bottom: 30px;
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-label img {
  height: 40px;
  margin-right: 20px;
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-input {
  background-color: var(--primary-light);
  padding-left: 64px;
  margin-right: -64px;
  outline: none;
  height: 56px;
  display: none;
}
@media (min-width: 992px) {
  footer .footer-subscribe-edm .footer-edm-form .footer-edm-input {
    width: 380px;
  }
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-input-icon {
  color: var(--primary-dark);
  margin-right: -20px;
  z-index: 1;
  bottom: 50%;
  left: 20px;
  transform: translate(0, 50%);
}
footer .footer-subscribe-edm .footer-edm-form .footer-edm-btn {
  outline: none;
  height: 56px;
  width: 64px;
}
footer .footer-info {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 30px;
}
@media (min-width: 992px) {
  footer .footer-info {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  footer .footer-info {
    padding-top: 30px;
  }
}
footer .footer-info .footer-info-connect-logo {
  width: 171px;
  margin-bottom: 40px;
}
footer .footer-info .footer-info-connect-content {
  margin-bottom: 37px;
}
@media (min-width: 992px) {
  footer .footer-info .footer-info-connect-content {
    margin-bottom: 30px;
  }
}
footer .footer-info .footer-info-connect-media img {
  width: 32px;
  height: 32px;
}
footer .footer-info .footer-info-slogan img {
  width: 60px;
}

.payment-success {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  height: 583px;
  background: url(../image/photo-payment-page-bg.avif) no-repeat;
  background-position: top center;
}
@media (min-width: 992px) {
  .payment-success {
    max-width: 940px;
  }
}
@media (min-width: 992px) {
  .payment-success {
    height: 460px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 60px;
  }
}
.payment-success .payment-success-title {
  width: 190px;
  height: 100%;
}
@media (min-width: 992px) {
  .payment-success .payment-success-title {
    height: auto;
    margin-bottom: 52px;
  }
}
.payment-success .payment-success-keep-btn {
  width: 100%;
}
.payment-success .payment-success-keep-btn button {
  width: 100%;
  height: 65px;
  padding: 16px 0;
  background-color: var(--high-light);
  font-size: 24px;
  color: var(--primary-dark);
}
@media (min-width: 992px) {
  .payment-success .payment-success-keep-btn button {
    width: 300px;
  }
}

.payment-success-check-icon {
  height: 0;
  margin-top: 10px;
  margin-bottom: 42px;
  border-bottom: 1px solid var(--primary-dark);
}
.payment-success-check-icon span {
  vertical-align: middle;
  background: radial-gradient(#fff 50%, transparent 0%);
  border-radius: 999px;
}
.payment-success-check-icon span:first-child {
  margin-left: -2px;
}
.payment-success-check-icon span:last-child {
  margin-right: -2px;
}

.login {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .login {
    max-width: 780px;
  }
}
.login .login-row {
  margin: 0;
}
@media (min-width: 992px) {
  .login .login-row {
    max-height: 380px;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.login .login-title {
  padding: 30px 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 36px;
}
@media (min-width: 992px) {
  .login .login-title {
    padding: 40px 0;
  }
}
.login .login-connect-social {
  padding: 30px;
  background-color: var(--primary-light);
}
@media (min-width: 992px) {
  .login .login-connect-social {
    padding-top: 40px;
    padding-bottom: 40px;
    transform: translate(0, 15px);
  }
}
.login .login-connect-social p {
  margin-bottom: 36px;
  color: var(--primary-middle);
  font-size: 24px;
  font-weight: 300;
}
.login .login-connect-social button {
  height: 56px;
  background-color: #fff;
}
.login .login-connect-social button img {
  height: 16px;
}
.login .login-connect-social .login-connect-google {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: var(--primary-light);
}
.login .login-connect-social .login-connect-google img {
  height: 24px;
  margin-bottom: -4px;
}
@media (min-width: 992px) {
  .login .login-connect-social .login-connect-google {
    border-left: none;
    border-right: none;
  }
}
.login .login-form {
  padding: 14px 30px 30px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  margin-top: 0;
}
@media (min-width: 992px) {
  .login .login-form {
    padding: 0 30px 20px;
    margin-top: -16px;
  }
}
.login .login-form .login-input-text input {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 64px;
  background-color: var(--primary-light);
}
.login .login-form .login-input-text input::-moz-placeholder {
  color: var(--primary-middle);
}
.login .login-form .login-input-text input::placeholder {
  color: var(--primary-middle);
}
.login .login-form .login-input-text label {
  transform: translateY(-50%);
  color: var(--primary-dark);
  left: 20px;
}
.login .login-form .login-input-text label span {
  vertical-align: middle;
}
.login .login-form #login-remember:checked {
  background-color: var(--primary-middle);
  color: var(--primary-dark);
}

.products {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .products {
    max-width: 940px;
  }
}
@media (min-width: 992px) {
  .products {
    width: 940px;
  }
}
.products .products-banner {
  height: 277px;
  padding: 30px;
  background: url("../image/photo-banner-2.avif") no-repeat right center/cover;
}
@media (min-width: 992px) {
  .products .products-banner {
    height: 496px;
  }
}
.products .products-banner .products-banner-word {
  width: 60px;
  height: 219px;
  background: url("../image/word-no-reason-sm-column.svg") no-repeat center top/auto 100%;
}
@media (min-width: 992px) {
  .products .products-list {
    margin-top: 60px;
  }
}
.products .products-list .products-list-nav {
  font-size: 24px;
  text-align: center;
}
.products .products-list-card-group {
  gap: 20px 0;
}
.products .products-list-page-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .products .products-list-page-bar {
    margin-bottom: 60px;
  }
}
.products .products-list-page-bar a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .products-list-page-bar nav > ul > li > a:active {
  font-weight: 600;
}
.products .products-list-page-bar nav > ul > li > a:focus {
  box-shadow: none;
}

.product-card {
  width: 315px;
}
@media (min-width: 992px) {
  .product-card {
    width: 300px;
  }
}
.product-card .product-card-today {
  padding: 13px 7px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  writing-mode: vertical-lr;
  top: 0;
  left: 20px;
  letter-spacing: 0.25rem;
}
.product-card .product-card-collect {
  top: 20px;
  right: 22px;
}
.product-card .product-card-img {
  height: 315px;
  background-image: url("../image/photo-product-1.avif");
  background-position: center center;
  background-size: cover;
}
.product-card .product-card-title,
.product-card .product-card-price {
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
  border-color: var(--primary-light);
}
.product-card .product-card-btn {
  font-size: 24px;
}

.home {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .home {
    max-width: 1024px;
    width: 1024px;
  }
}
.home .home-banner {
  height: 277px;
  width: 100%;
  margin: 0 auto;
  background: url(../image/photo-banner-1.avif) no-repeat center center/100% auto;
}
@media (min-width: 992px) {
  .home .home-banner {
    height: 496px;
    max-width: 940px;
  }
}
.home .home-link {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .home .home-link {
    max-width: 780px;
    margin-top: -89px;
  }
}
.home .home-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.home .home-link li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33%;
}
.home .home-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  writing-mode: vertical-lr;
  font-size: 20px;
  vertical-align: middle;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 992px) {
  .home .home-link a {
    height: 256px;
  }
}
.home .home-link .home-link-today {
  background: url("../image/photo-home-link-1.avif") center center/cover;
}
.home .home-link .home-link-popular {
  background: url("../image/photo-home-link-2.avif") no-repeat center center/cover;
}
.home .home-link .home-link-new {
  background: url("../image/photo-home-link-3.avif") no-repeat center center/cover;
}
.home .home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaf0ed;
  width: 100%;
}
@media (min-width: 992px) {
  .home .home-intro {
    flex-direction: row;
    justify-content: space-between;
    height: 420px;
    padding: 0 42px;
    margin-top: 80px;
    margin-bottom: 25px;
  }
}
.home .home-intro .home-intro-why-choose-word,
.home .home-intro .home-intro-why-eat-word {
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60px;
  background-color: #fff;
}
@media (min-width: 992px) {
  .home .home-intro .home-intro-why-choose-word,
  .home .home-intro .home-intro-why-eat-word {
    width: 89px;
    height: 460px;
    background-position: center top;
    background-color: transparent;
    background-size: auto;
    margin-left: 25px;
  }
}
.home .home-intro .home-intro-why-choose-word {
  background-image: url(../image/word-why-choose-sm.svg);
}
@media (min-width: 992px) {
  .home .home-intro .home-intro-why-choose-word {
    background-image: url(../image/word-why-choose-lg.svg);
    order: 1;
  }
}
.home .home-intro .home-intro-why-eat-word {
  background-image: url(../image/word-why-eat-sm.svg);
}
@media (min-width: 992px) {
  .home .home-intro .home-intro-why-eat-word {
    background-image: url(../image/word-why-eat-lg.svg);
    order: 1;
  }
}
.home .home-intro .home-intro-why-choose-img,
.home .home-intro .home-intro-why-eat-img {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 992px) {
  .home .home-intro .home-intro-why-choose-img,
  .home .home-intro .home-intro-why-eat-img {
    width: 460px;
    height: 460px;
  }
}
.home .home-intro .home-intro-why-choose-img {
  background-image: url(../image/photo-intro-1.avif);
}
.home .home-intro .home-intro-why-eat-img {
  background-image: url(../image/photo-intro-2.avif);
}
@media (min-width: 992px) {
  .home .home-intro .home-intro-why-eat-img {
    order: 2;
  }
}
.home .home-intro article {
  color: #8da291;
  padding: 30px;
  font-weight: 300;
}
@media (min-width: 992px) {
  .home .home-intro article {
    max-width: 300px;
    height: 280px;
    writing-mode: vertical-rl;
    line-height: 2rem;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .home .home-intro:nth-child(2) {
    margin-top: 105px;
  }
}
.home .home-slogan {
  width: 196px;
  height: 60px;
  margin: 30px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../image/word-no-reason-sm-row.svg);
}
@media (min-width: 992px) {
  .home .home-slogan {
    background-image: url(../image/word-no-reason-lg.svg);
    width: 89px;
    height: 328px;
    margin: 95px auto 80px;
  }
}
.home .home-products {
  max-width: 315px;
  margin: 0 auto 60px;
}
.home .home-products .product-card:first-of-type .product-card-img {
  background-image: url(../image/photo-product-2.avif);
}
.home .home-products .product-card:nth-of-type(2) .product-card-img {
  background-image: url(../image/photo-product-5.avif);
}
.home .home-products .product-card:nth-of-type(3) .product-card-img {
  background-image: url(../image/photo-product-8.avif);
}
@media (min-width: 992px) {
  .home .home-products {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    width: 940px;
  }
}

.cart {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .cart {
    max-width: 940px;
  }
}
@media (min-width: 992px) {
  .cart {
    width: 940px;
  }
}
.cart h3 {
  font-size: 24px;
  background-color: var(--primary-light);
  margin-bottom: 0;
}
.cart .cart-header {
  width: 100%;
  padding: 18px 0;
}
.cart .cart-content {
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .cart .cart-content {
    padding: 0;
  }
}
.cart .cart-product {
  margin-top: 30px;
  flex-direction: row;
}
.cart .cart-product .cart-product-info {
  height: 106px;
}
.cart .cart-product .cart-product-info .cart-product-img {
  width: 157px;
  height: 100%;
  margin-right: 16px;
  background-image: url(../image/photo-product-7.avif);
  background-position: center center;
  background-size: cover;
}
@media (min-width: 992px) {
  .cart .cart-product .cart-product-info .cart-product-img {
    width: 110px;
    height: 110px;
  }
}
.cart .cart-product .cart-product-info .cart-product-title {
  font-size: 20px;
}
.cart .cart-product .cart-product-info .cart-product-qtu a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .cart-product .cart-product-sum {
  font-size: 20px;
  display: inline-block;
}
.cart .cart-start {
  padding: 0;
}
.cart .cart-end {
  padding: 0;
}
@media (min-width: 992px) {
  .cart .cart-end {
    padding: auto;
  }
}
.cart .cart-summary {
  width: 100%;
  margin: 30px auto 0;
  padding: 0 30px;
}
@media (min-width: 992px) {
  .cart .cart-summary {
    max-width: 940px;
    margin: 0;
    padding: 16px 20px;
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
}
.cart .cart-summary h3 {
  padding: 18px 0;
}
@media (min-width: 992px) {
  .cart .cart-summary h3 {
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-light);
  }
}
.cart .cart-summary .cart-summary-item {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.cart .cart-summary .cart-summary-item.total {
  font-weight: 600;
  font-size: 20px;
  margin-top: 16px;
}
.cart .cart-btn {
  margin-top: 16px;
}
@media (min-width: 992px) {
  .cart .cart-btn {
    margin: 0;
  }
}
.cart .cart-btn-checkout {
  height: 65px;
  font-size: 24px;
}
.checkout .checkout-ship {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 30px 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
@media (min-width: 992px) {
  .checkout .checkout-ship {
    max-width: 780px;
  }
}
.checkout .checkout-ship .payment-success-check-icon {
  border-bottom: 1px solid var(--primary-light);
}
.checkout .checkout-ship .payment-success-check-icon span {
  background: radial-gradient(var(--primary-dark) 50%, transparent 0%);
}/*# sourceMappingURL=payment-form.css.map */